<div class="column is-one-third shared-games-column">
    <table class="table is-striped">
        <thead>
            <tr>
                <th>Shared Games</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Goat Simulator</td>
            </tr>
            <tr>
                <td>Stellaris</td>
            </tr>
            <tr>
                <td>DOTA 2</td>
            </tr>
            <tr>
                <td>Civilization 6</td>
            </tr>
            <tr>
                <td>Mount and Blade: Bannerlord</td>
            </tr>
            <tr>
                <td>CS:GO</td>
            </tr>
            <tr>
                <td>Path of Exile</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>* = Games that are free to play; you can download these now to play with your friend!</td>
            </tr>
        </tfoot>
    </table>
</div>
