{{!-- <div class = "columns"> --}}
<div class="column is-one-third user-one-column">
    <table class="table">
        <thead>
            <tr>
                <th id = "username">Shared Games</th>
            </tr>
        </thead>
        <tbody>
            {{#each sharedGames}}
            <tr>
                <td>{{this}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>    
{{!-- </div> --}}