{{!-- <div class = "columns"> --}}
{{#each user}}
<div class="column is-one-third user-one-column">
    <table class="table">
        <thead>
            <tr>
                <th id = "username">{{user.personaName}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each user.Games}}
            <tr>
                <td>{{name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/each}}      
{{!-- </div> --}}