<div class="column is-one-third user-two-column">
            <table class="table is-striped">
                <thead>
                    <tr>
                        User 2 Games
                    </tr>
                </thead>
                <tbody>
                    <ul>
                        <li>Team Fortress 2</li>
                        <li>Stellaris</li>
                        <li>DOTA 2</li>
                        <li>Portal 2</li>
                        <li>Guns of Icarus</li>
                        <li>Civilization 6</li>
                        <li>Mount and Blade: Bannerlord</li>
                        <li>Goat Simulator</li>
                        <li>CS:GO</li>
                        <li>Path of Exile</li>
                    </ul>
                </tbody>
            </table>
        </div>