<div class="column is-one-third user-one-column">
    <table class="table is-striped">
        <thead>
            <tr>
                <th>{{user.personaName}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each games}}
            <tr >
                <td>{{name}}</td>
            </tr>
            {{/each}}
            {{!-- <ul>
                <li>Stellaris</li>
                <li>Chrono Trigger</li>
                <li>DOTA 2</li>
                <li>RimWorld</li>
                <li>Civilization 5</li>
                <li>Civilization 6</li>
                <li>Mount and Blade: Bannerlord</li>
                <li>Rise to Ruins</li>
                <li>CS:GO</li>
                <li>Path of Exile</li>
            </ul> --}}
        </tbody>
    </table>
</div>