<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Steam Library Comparer
            </a>
        </div>
    </div>
</nav>

<div class="container input-container">
    <div class="columns">
        <div class="column">
            <div class="field">
                <div class="control">
                    <input class="input is-primary input-left" type="text" placeholder="Your Steam Username">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <div class="control">
                    <input class="input is-primary input-right" type="text" placeholder="Another Steam Username">
                </div>
            </div>
        </div>
    </div>
    <div>
        <input class="button" type="submit" value="Submit input">
    </div>
</div>