<nav class="navbar" role="navigation" aria-label="main navigation">

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item website-title" href="/">
                <strong> Steam Library Comparer </strong>
            </a>
        </div>
    </div>
</nav>

<div class="container input-container">
    <div class="columns">
        <div class="column">
            <div class="field">
                <div class="control">
                    <input class="input is-primary input-left" id="user-one" type="text"
                        placeholder="Your Steam Vanity URL">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <div class="control">
                    <input class="input is-primary input-right" id="user-two" type="text"
                        placeholder="Another Steam Vanity URL">
                </div>
            </div>
        </div>
    </div>
    <div>
        <a>
            <input class="button username-submit" type="submit" value="Compare Games">
        </a>
    </div>
</div>

<div class="container tables-container">
    <div class = "columns">
        {{> shared-games-block}}
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong class="website-title"> Steam Library Comparer </strong></br>
            The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php" style="color: grey">MIT</a>.
        </p>
    </div>
</footer>